body { margin: 0; padding: 0; font-family: monospace; background-color: mintcream; }
.gw { padding: 30px; width: 100%; background-color: papayawhip; box-sizing: border-box; }
.footer p { text-align: center; color: tan; }
* { box-sizing: border-box; }
